body{
    padding: opx;
    margin: 0px;
    background-size: cover;
    box-sizing: content-box;
}
body div{
    display: flex;
    flex-direction: row;
}
#forehead{
    position: fixed;
    height: 5rem;
    background:linear-gradient(to left, rgb(4, 17, 57), rgb(169, 177, 11));
    width: 100vw;
}
.container{
    border: 0.1px solid rgb(86, 165, 235, 0.25);
    height: auto;
    flex-direction: column;
    font-family: 'Martian Mono', monospace;
    font-family: 'Mooli', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    flex-direction: row;
    cursor: text;
    position: absolute;
    left: 2rem;
    top: 1rem;
}
.menu{
    position: absolute;
    left: 90rem;
    top: 1.5rem;
    cursor: pointer;
}
.menu-content{
    display: none;
    position: absolute;
    right: -3rem;
    top: 1.5rem;
    background-color: white;
    color: rgb(169, 177, 11);
    width: 11rem;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    border-radius: 12px;
}
.menu-content a{
    text-decoration: none;
    color: rgb(169, 177, 11);
}
.menu-content br{
    text-decoration-color: blueviolet;
}
.menu:hover .menu-content{
    display: block;  
    margin-right: 1rem;
}

.links{
    position: absolute;
    top: 0.85rem;
    gap: 1.5rem;
    left: 55rem;
}

ul a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: rgb(169, 177, 11);
    height: 68vh;
    justify-content: center; 
}
footer div{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 55rem;
}
.s1{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./Car\ lease\ 2.jpg);
    background-size: cover;
    color: rgb(4, 17, 57);
}
.s1 h1{
    font-size: 42px;
    margin-top: 7rem;
}
.s2{
    height: 40vh;
    font-size: medium;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
    text-align: justify;
    background-color: rgb(4, 17, 57);
    color: white;
}
.s3{
    height: 35vh;
    font-size: medium;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    text-align: left;
}
.s4{
    height: 30vh;
    font-size: medium;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    text-align: justify;
    color: rgb(169, 177, 11);
}
.s5{
    height: 50vh;
    font-size: medium;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    text-align: left;
    color: rgb(169, 177, 11);
}
#s3a:hover, #s4a:hover, #s5a:hover{
    transform: scale(1.05);
    opacity: 0.3;
}
text{
    color: rgb(4, 17, 57);
    text-align: center;
    width: 80px;
    font-size: 14px;
    margin-top: 6rem;
    margin-left: 3rem;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
}
#about{
    color: rgb(4, 17, 57);
    text-align: justify;
    width: 600px;
    font-size: 14px;
    margin-top: 3rem;
    margin-left: 3rem;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
}
#address{
    color: rgb(4, 17, 57);
    text-align: justify;
    width: 600px;
    font-size: 14px;
    margin-top: 4.5rem;
    margin-left: 3rem;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
}
#contact{
    color: rgb(4, 17, 57);
    text-align: justify;
    width: 200px;
    font-size: 14px;
    margin-top: 6.5rem;
    margin-left: 3rem;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
}
#handles, #fbk, #ig, #lkd, #wa, #xt{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 3rem;
    margin-top: 1rem;
    text-align: justify;
    gap: 7px;
    cursor: pointer;
}
#fbk{
    margin-left: 0rem;
    margin-top: -0.5rem;
}
#ig{
    margin-left: 1rem;
    margin-top: -0.5rem;
}
#lkd{
    margin-left: 2rem;
    margin-top: -0.5rem;
}
#wa{
    margin-left: 3rem;
    margin-top: -0.5rem;
}
#xt{
    margin-left: 4rem;
    margin-top: -0.5rem;
}