
 
body{
    margin: 0px;
    padding: 0px;
    background-size: contain;
    height: auto;
}
#homelogo img{
    height: 45px;
    width: 45px;
    position: relative;
    cursor: pointer;
    margin-top: 1rem;
}
h6 a{
    color: white;
    text-decoration: none;
}
h6{
    text-align: center;
}
.formcontainer{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    font-family: 'Martian Mono', monospace;
    font-family: 'Mooli', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.formcontainer img{
    height: 100vh;
    width: 100vw;
    opacity: 0.45;
}
.form-o{
    width: 420px;
    height: 550px;
    position: absolute;
    background:  rgb(4, 17, 57);
    color: rgb(169, 177, 11);
    border-radius: 12px; 
    box-shadow: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}
#formheading{
    color: rgb(169, 177, 11); 
    margin-top: 1rem;
    text-align: center;
}
form input{
    height: 2rem;
    width: 15.5rem;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(236, 97, 47);
}
form button{
    position: relative;
    width: 7rem;
    height: 2rem;
    background: white;
    border-radius: 7px;
    color: rgb(169, 177, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 4rem;
    cursor: pointer;
    font-weight: bolder;
}
